body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


.fund-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: #18212a;
    font-family: "Be Vietnam Pro", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fund-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.fund-details {
    display: flex;
    flex-direction: column;
}

.fund-details div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.fund-risk {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.risk-indicator {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.risk-label {
    font-weight: bold;
    color: #d9534f;
}

.fund-manager {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.fund-manager img {
    height: 50px;
    margin-right: 20px;
}

.fund-manager a {
    margin-left: 20px;
}

.fund-sectors, .fund-holdings {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.fund-sectors h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#fund-sector-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#fund-sector-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#fund-sector-list .hidden {
    display: none;
}

.allocation {
    font-weight: bold;
    color: #337ab7;
    position: relative;
    text-align: end;
}

.allocation::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    background-color: #337ab7;
    width: 0;
}

#toggle-sectors {
    background: none;
    border: none;
    color: #337ab7;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
}
