@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {

    font-family: 'Roboto', sans-serif;

    background-color: #F5F5F5;

    margin: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

.profile-container {

    background-color: #18212a;
    color: white;

    width: 100%;
    height: 100%;

    border-radius: 15px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    display: flex;

    flex-direction: column;

}

.navbar {

    display: flex;

    align-items: center;

    padding: 15px;

    /* background-color: #FFFFFF; */

    border-bottom: 1px solid #eeeeee1c;

    font-size: 16px;

    font-weight: bold;

}

.navbar ion-icon {

    margin-right: 10px;

    font-size: 20px;

}

.profile-header {

    display: flex;

    align-items: center;

    padding: 20px;

    /* background-color: #FFFFFF; */

}

.profile-image-wrapper {

    position: relative;

}

.profile-image {

    width: 60px;
    object-fit: cover;

    height: 60px;

    border-radius: 50%;

}

#profile-image-input {

    position: absolute;

    top: 0;

    left: 0;

    opacity: 0;

    width: 60px;

    height: 60px;

    cursor: pointer;

}

.profile-info {

    display: flex;

    flex-direction: column;

    margin-left: 20px;

}

.profile-info h1 {

    margin: 0;

    font-size: 18px;

    font-weight: bold;

}

.designation {

    margin: 7px 0;

    font-size: 12px;

    color: #666666;

}

.status {

    color: #c11700;
    background-color: #c1170034;
    width: fit-content;

    border-radius: 12px;

    padding: 7px 12px;

    font-size: 12px;

    display: inline-block;

}

.profile-stats {

    display: flex;

    justify-content: space-around;

    padding: 30px 10px;
}

.stat-item {

    text-align: center;


}

.stat-number {

    margin: 0;

    font-size: 14px;

    font-weight: bold;

}

.stat-label {

    margin: 5px 0 0 0;

    font-size: 10px;

    color: #717171;

}

.profile-menu {
    flex: 1;

}

.menu-item {

    display: flex;

    align-items: center;

    padding: 24px 20px;

    cursor: pointer;

    border-bottom: 1px solid #eeeeee1b;

    position: relative;

}

.menu-icon {

    margin-right: 20px;

    font-size: 20px;

}

.verified-icon {

    color: rgba(137, 4, 4, 0.673);

    font-size: 16px;

    position: absolute;

    right: 20px;

}

.menu-item p {

    margin: 0;

    font-size: 17px;

}

.collapsible-content {

    display: none;

    padding: 15px 20px;

    border-bottom: 1px solid #eeeeee1e;

}

.collapsible-content form {

    display: flex;

    flex-direction: column;

}

.collapsible-content form label {

    margin-top: 10px;

}

.collapsible-content form input {

    padding: 5px;

    margin-top: 5px;

}

.collapsible-content form button {

    margin-top: 10px;

    padding: 10px;

    background-color: #00ACC1;

    color: #FFFFFF;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

.spacer {

    flex: 1; /* Fills the remaining space */

}

.logout {

    display: flex;

    justify-content: center;

    align-items: center;

    color: #E53935;

    text-align: center;

    padding: 15px 0;

    cursor: pointer;

}

.logout ion-icon {

    margin-right: 10px;

    font-size: 20px;

}

.logout p {

    margin: 0;

    font-size: 14px;

}

.version {

    text-align: center;

    padding: 10px 0;

    color: #AAAAAA;

    font-size: 12px;

}




.add-image-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}