/* Import Be Vietnam Pro font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* BODY and Global tags */
body {
    /* padding-top: 50px; */
    background-color: #18212a;
    /* font-family: "Be Vietnam Pro", sans-serif; */
    color: white;
}

.explore-container {
    background-color: #18212a;
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.explore-header {
    text-align: left;
    margin-bottom: 20px;
}

.explore-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.explore-header p {
    margin: 5px 0;
    color: #777;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.search-bar ion-icon {
    color: #333;
    font-size: 20px;
    --ionicon-stroke-width: 76px;
    margin-right: 10px;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    width: calc(100% - 30px);
    font-size: 16px;
    color: #333;
}

.explore-card ion-icon {
    font-size: 33px;
    padding-right: 15px;
}

.explore-content .explore-card {
    display: flex;
    align-items: center;
    background-color: #18212a;
    margin: 10px 0;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.explore-content .explore-card h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.explore-content .explore-card p {
    margin: 5px 0 0;
    color: #777;
}

.video-section-container {
    display: flex;
    overflow-x: scroll;
}

.video-section {
    display: flex;
    align-items: center;
    background-color: #18212a;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 400px;
    margin-right: 10px;
}

.video-section img {
    max-width: 100px;
    border-radius: 5px;
    margin-right: 15px;
}

.video-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.video-info p {
    margin: 5px 0 0;
    color: #777;
}

.footer {
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.footer .registration {
    font-size: 12px;
    color: #777;
}

.footer .registration a {
    color: #333;
    text-decoration: none;
}

