/* Import Be Vietnam Pro font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* BODY and Global tags */
body {
    padding-top: 50px;
    background-color: #18212a;
  }
  /* Reset any browser default style  */
  body, h1, h2, h3, p, input, button {
    margin: 0;
}
  a{
    text-decoration: none;
    color: inherit;
  }
  
  /* TWO  NAVBARS at the top  */
  #TopNavs {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .topnav a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
  }
  .nav-one {
    background-color: #18212a;
    color: white;
  }
  
  #page-name {
    flex: 5;
    font-weight: bold;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size:23px ;
    text-align: left;
  }


    /* Main Page  */
    .image-mainpage img{
      width: 70px;
    }
 
    #initials h2{
      padding-bottom: 10px ;
    }

    #initials{  
      font-family: "Be Vietnam Pro", sans-serif;
      line-height: 170%;
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      /* padding-top: 10px; */
      padding-bottom: 12px;
      color: white;
      border-bottom: 0.5px solid grey;
    }
    #initials p{
      color: rgb(207, 206, 206);
    }



                              /* Contents */
  
  
  
  /* Stock list */

  #contents{
    margin: 0px auto;
  }
  
  #stocklist {
    display: flex;
    flex-direction: column;
    background-color: #18212a
    
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid rgba(72, 72, 72, 0.6);
    flex-wrap: nowrap;
    height: 95px;
    padding: 0;
    color: white;
    font-family: 'Red Hat Text', sans-serif;

  }
  
  
  @media screen and (max-width: 1200px) and (min-width: 500px) {
    /* For screens like ipad */
    /* #stocklist {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  
    .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 90px;
      padding: 0;
      width: 48%;
      margin: 7px;
    } */
  }
  
  
  
  
  .flex div {
    background-color: 	#18212a ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .name {
    margin-left: 3px;
  }
  .name p {
    margin: 0;
  }
  
  .name p:first-child {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
  }
  .name p:nth-child(2),
  .name p:nth-child(3),
  .name p:nth-child(4) {
    color: rgb(164, 164, 164);
    font-size: 12px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 200;
  }
  

  /* This are for the charts in the stock page */
  .chart {
    margin: 0;
    padding: 0;
    /* width: 10%; */
    font-family: monospace;
    /* font-size: 10px; */
    /* border: 1px solid violet;  */
    padding: 7px;
  }
  .chart p {
    margin: 0;
  }
  .strokegreen {
    stroke: rgb(13, 163, 13);
    fill: rgb(62, 193, 50) !important;
  }
  .strokered {
    stroke: rgb(201, 50, 50);
    fill: rgb(194, 106, 106) !important;
  }
  .strokeblue {
    stroke: rgb(80, 80, 245);
    fill: rgb(101, 109, 220) !important;
  }
  .ct-grid{
    stroke :rgba(255, 255, 255, 0.06) !important ; 
  }
  .ct-label.ct-vertical.ct-start{
    color: rgba(255, 255, 255, 0.582);
    font-size: 7px;
  }
  .ct-area{
    fill-opacity: 0.08 !important;
  }
  .ct-line {
    stroke-width: 3px !important ;
  }
  #data p {
    margin: 0;
    font-weight: bold;
  }
  #data p:last-child {
    font-size: 12px;
  }
  #data p:first-child {
    color: white;
    font-size: 17px;
    border-radius: 14px;
    /* background-color: rgb(243, 105, 101); */
    padding: 6px 13px;
  }
  
  .red {
    background-color: rgb(236, 52, 52);
  }
  
  .green {
    background-color: rgb(21, 175, 67);
  }
  
  .blue {
    background-color: rgb(81, 130, 235);
  }
  .red1 {
    color: rgb(236, 52, 52);
  }
  
  .green1 {
    color: rgb(9, 122, 43);
  }
  
  .blue1 {
    color: rgb(81, 130, 235);
  }
  
  /* This are for starred icon */
  #icon .fa-star {
    margin-left: 0;
    margin-right: 0%;
    color: rgb(248, 247, 247);
  }
  .checked {
    color: orange !important;
    text-shadow: none !important;
  }
  #icon {
    margin: 0;
    padding-left: 0;
    /* border: 2px solid black; */
    width: 20px;
  }

  
  /*               LOading Overlay */
  .ct-chart {
    width: 90vw;
    max-width: 1100px;
    height: 375px;
    margin: 5vh 6.5vw;
  }
  
  .overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c8c9caa4;
  }
  .overlay.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overlay > div {
    justify-content: space-around;
    max-width: 30rem;
  }
  
  .motiv {
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
  }
  
  
  
  /* Loading Spinner */
  @keyframes ldio-tur5clbaxg {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .ldio-tur5clbaxg > div > div {
    position: absolute;
    border-radius: 50%;
  }
  .ldio-tur5clbaxg > div > div:nth-child(1) {
    top: 30px;
    left: 30px;
    width: 140px;
    height: 140px;
    /* background: #19e499; */
    background: #d8d8d8;
  }
  .ldio-tur5clbaxg > div > div:nth-child(2) {
    top: 39.800000000000004px;
    left: 79px;
    width: 12px;
    height: 12px;
    background: #2c2d2d;
    /* background: #3a3939; */
    animation: ldio-tur5clbaxg 1s linear infinite;
    transform-origin: 21px 60.199999999999996px;
  }
  
  .loadingio-spinner-disk-li8jvstzdq8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    /* background: #ffffff; */
  }
  .ldio-tur5clbaxg {
    width: 30%;
    height: 30%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-tur5clbaxg div {
    box-sizing: content-box;
  }
  

/*  Offers  In the main page */

.offers{
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 400;
  padding: 1rem;
  border-radius: 2%;
  color: white;
  background-color: #cbc9c916;
  margin: 6px !important;
  flex: 0 0 100%; /* Each tweet occupies the full width of the container */
  max-width: calc(100% - 50px);
}
.offers h4 {  
  line-height: 24px;
}
.offers p{
  font-size: 13px;
  color: rgb(195, 195, 195);
}

/* THIS ARE FOR THE SLIDING EFFECT OF THE OFFERS DIV */
.All-offers {
  margin-left: 10px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.All-offers::-webkit-scrollbar {
  display: none;
  /* width: 10px; */
  /* height: 4px; */
}

.All-offers::-webkit-scrollbar-track {
  background: transparent;
}
.offers {
  scroll-snap-align: start;
  /* flex-shrink: 0; */
  transform-origin: center center;
  transition: transform 0.3s; 
}

/* THis is main page Typeform */
.typeform{
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 230%;
  font-weight: 400;
  font-size: 12px;
  color: white;
  border-bottom: 0.5px solid grey;
  text-align: center ;
  line-height: 150% ;
  margin: 30px ;
  padding: 20px;
}
.typeform p{
  color: rgb(207, 206, 206);
}
#fin-advise-btn1{

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(40, 104, 22) 0%, rgb(52, 124, 27) 50%, rgb(69, 146, 14) 100%);
  color: #fff;
}

#fin-advise-btn{

  display: inline-block;
  outline: none;
  width: 190px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(40, 104, 22) 0%, rgb(52, 124, 27) 50%, rgb(69, 146, 14) 100%);
  color: #fff;
}

#close-typeform{
  margin-top: 10px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(32, 34, 32) 0%, rgb(24, 26, 24) 50%, rgb(30, 31, 30) 100%);
  color: #fff;
}


  /* Tweet or forum feature  */

  
  .tweet {
    margin-left: 3px;
    margin-right: 3px;
    font-family: Arial, sans-serif;
    padding: 1rem;
    /* background-color: #151414; */
    color: white;
    border-bottom: 0.5px solid #6c6c6c64;
    /* border-radius: 10px; */
    padding: 1rem ;
}

/* this is the image in the tweet */
.tweet-image{
    display: block;
    border-radius: 2%;
    margin: 0 auto;
    width: 100%;
}



.tweet-header h3 {
    margin: 0;
}

.tweet-header span {
    font-size: 0.8rem;
    color: gray;
}

.tweet-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligning items evenly */
    margin-bottom: 0.5rem;
}

.tweet-header .profile-info {
    display: flex;
    align-items: center;
}

 .profile-info img {
    width: 35px;
    /* height: 50px; */
    border-radius: 15px;
    margin-right: 0.5rem;
}

.tweet-header .profile-info div {
    display: flex;
    flex-direction: column;
}

.tweet-header .follow-button {
    background-color: #1c7ac2;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

/* this are the  */
.tweet .tweet-interactions{
    font-size: 17px;
    color: #8c9296;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.5rem;        
}



/* THIS IS FOR THE EACHMF (mutual fund) PAGE  */

.mf-container {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  /* background-color: #f8f9fa; */
  margin: 0px auto;
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(192, 191, 191, 0.2);
  overflow: hidden;
  padding: 20px;
}

.mf-header {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
  color: white;
  text-align: center;
}

.mf-header img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mf-header h1 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

.mf-sub-header {
  text-align: center;
  font-size: 12px;
  color: #9d9e9e;
  padding: 5px 0;
  width: 100%;
}

.mf-main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mf-details {
  flex: 1;
  max-width: 450px;
  padding: 20px;
  text-align: center;
}

.mf-details .mf-nav-title {
  font-size: 12px;
  color: #cacccd;
  font-weight: 700;
  margin-bottom: 10px;
}

.mf-details .mf-price {
  font-size: 24px;
  color: #ff5733;
  font-weight: 700;
}

.mf-details .mf-change {
  font-size: 14px;
  color: #ff5733;
  font-weight: 400;
}

.mf-details .mf-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.mf-details .mf-item {
  font-size: 14px;
  color: rgb(210, 210, 210);
  font-weight: 700;
  padding: 10px;
}

.mf-details .mf-item span {
  display: block;
  font-size: 17px;
  color: white;
  font-weight: 500;
  padding-top: 5px;
}

.mf-details .mf-item select {
  font-size: 14px;
  color: #28a745;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mf-details .mf-info-icon {
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

.mf-chart-container {
  flex: 2;
  padding: 20px;
  /*max-width: 800px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mf-chart {
  height: 300px;
  width: 100%;
}

.mf-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-top: 20px;
}

.mf-nav button {
  background: none;
  border: none;
  font-size: 14px;
  color: #007bff;
  font-weight: 700;
  cursor: pointer;
}

.mf-nav button .mf-active {
  color: #ff5733;
}

.mf-login {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.launch-info {
  font-size: 12px;
  color: #6c757d;
  text-align: center;
  margin-top: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  max-width: 300px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.popup p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #6c757d;
}

.popup button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 700px) {
  .mf-container {
      flex-direction: column;
  }
  .mf-main-content {
      flex-direction: column;
  }
  .mf-details {
      max-width: none;
  }
}


/* This is for the login Page */
.login-container {
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center !important;
  background: #18212a;
  position: absolute;
  top: 27%;
  left: 2%;
  color: white;
  padding: 2rem;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.login-logo img {
  width: 100px;
  /* height: 60px; */
  margin-right: 10px;
}

.login-logo span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.login-subtitle {
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: #e0e0e0;
}



.login-terms {
  font-size: 0.9rem;
  margin-top: 25px;
  color: #888;
}

.login-terms a {
  color: #2e77d0;
  text-decoration: none;
}

/* This is for the google button */
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}





/* User Dashboard */


.profile-container {
    font-family: "Be Vietnam Pro", sans-serif; 
    background-color: #18212a;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* .navbar {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eeeeee1c;
    font-size: 16px;
    font-weight: bold;
}

.navbar ion-icon {
    margin-right: 10px;
    font-size: 20px;
} */

.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-image-wrapper {
    position: relative;
}

.profile-image {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#profile-image-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.add-image-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  color: white;
  background-color: blue;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.designation {
    margin: 7px 0;
    font-size: 12px;
    color: #666666;
}

.status {
    color: #c11700;
    background-color: #c1170034;
    width: fit-content;
    border-radius: 12px;
    padding: 7px 12px;
    font-size: 12px;
    display: inline-block;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}

.stat-item {
    text-align: center;
}

.stat-number {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.stat-label {
    margin: 5px 0 0 0;
    font-size: 10px;
    color: #717171;
}

.profile-menu {
    flex: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 24px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee1b;
    position: relative;
}

.menu-icon {
    margin-right: 20px;
    font-size: 20px;
}

.verified-icon {
    color: rgba(137, 4, 4, 0.673);
    font-size: 16px;
    position: absolute;
    right: 20px;
}

.menu-item p {
    margin: 0;
    font-size: 17px;
}

.collapsible-content {
    display: none;
    padding: 15px 20px;
    border-bottom: 1px solid #eeeeee1e;
}

.collapsible-content form {
    display: flex;
    flex-direction: column;
}

.collapsible-content form label {
    margin-top: 10px;
}

.collapsible-content form input {
    padding: 5px;
    margin-top: 5px;
}

.collapsible-content form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #00ACC1;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spacer {
    flex: 1; /* Fills the remaining space */
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E53935;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}

.logout ion-icon {
    margin-right: 10px;
    font-size: 20px;
}

.logout p {
    margin: 0;
    font-size: 14px;
}

.version {
    text-align: center;
    padding: 10px 0;
    color: #AAAAAA;
    font-size: 12px;
}



/* Desktop Screen Landing Page */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-screen-header {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #18212a;
    color: white;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.desktop-screen-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.desktop-screen-logo a {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.desktop-screen-nav ul {
    font-family: "Be Vietnam Pro", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.desktop-screen-nav ul li {
    margin-left: 20px;
}

.desktop-screen-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.desktop-screen-nav ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.desktop-screen-signup-button {
    background-color: #00A551;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.desktop-screen-signup-button:hover {
    background-color: #008f47;
}

.desktop-screen-hero {
    font-family: "Be Vietnam Pro", sans-serif;
    background: white !important;
    text-align: center;
    /* padding: 100px 20px; */
    padding-top: 100px;
}

.desktop-screen-hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.desktop-screen-hero h2 {
    font-size: 3em;
    margin: 0 0 20px;
}

.desktop-screen-hero h2 .desktop-screen-highlight {
    color: #00A551; /* Change to your brand color */
}

.desktop-screen-hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.desktop-screen-app-buttons {
    margin: 20px 0;
}

.desktop-screen-app-buttons a {
    display: inline-block;
    margin: 0 10px;
}

.desktop-screen-app-buttons .desktop-screen-store-button {
    width: 150px;
}

.desktop-screen-mobile-image img {
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
}

.desktop-screen-footer {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #18212a;
    color: white;
    padding: 40px 20px;
}

.desktop-screen-footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.desktop-screen-footer-left, .desktop-screen-footer-middle, .desktop-screen-footer-right {
    flex: 1;
    margin: 0px 20px;
}

.desktop-screen-footer-left img.desktop-screen-footer-logo {
    max-width: 150px;
}

.desktop-screen-footer-middle ul {
    list-style: none;
    padding: 0;
}

.desktop-screen-footer-middle ul li {
    margin-bottom: 10px;
}

.desktop-screen-footer-middle ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.desktop-screen-footer-middle ul li a:hover {
    color: #00A551;
}

.desktop-screen-footer-right .desktop-screen-powered-by-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.desktop-screen-footer-right address {
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 20px;
}

.desktop-screen-footer p {
    margin-top: 10px;
}

.desktop-screen-footer p a {
    color: #00A551;
    text-decoration: none;
}

.desktop-screen-footer p a:hover {
    text-decoration: underline;
}



